<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>SkyBalance | Flight System</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
    <div class="container">
        <div class="glass-card">
            <div class="form-section">
                <h1 class="logo">SkyBalance</h1>
                <form id="vueloForm">
                    <div class="input-box">
                        <label>CODE</label>
                        <input type="number" id="Code" placeholder="Ej: 101">
                    </div>
                    <div class="input-box">
                        <label>ORIGIN</label>
                        <input type="text" id="Origin" placeholder="Cali">
                    </div>
                    <div class="input-box">
                        <label>DESTINATION</label>
                        <input type="text" id="destination" placeholder="Barranquilla">
                    </div>
                    <div class="input-box">
                        <label>DEPARTURE TIME</label>
                        <input type="time" id="departureTime">
                    </div>
                    <div class="input-box">
                        <label>BASE PRICE</label>
                        <input type="number" id="basePrice" placeholder="88000">
                    </div>
                    <div class="input-box">
                        <label>PASSENGERS</label>
                        <input type="number" id="numberPassengers" placeholder="100">
                    </div>
                    <button type="button" class="btn-main" onclick="GetVuelo()">Create Flight</button>
                    <button type="button" class="btn-sub" onclick="PrintPreOrderTour()">Print PreOrder</button>
                    <div class="file-input-container">
                        <label for="file-upload" class="custom-file-upload">
                            <div class="icon">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M21 15v4a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2v-4"/><polyline points="17 8 12 3 7 8"/><line x1="12" y1="3" x2="12" y2="15"/></svg>
                            </div>
                            <br>
                            <div class="text-group">
                            <span class="main-text">Seleccionar archivo</span>
                            <span class="sub-text">Arrastra y suelta aquí o haz clic</span>
                            </div>
                        </label>
                        <input id="file-upload" type="file" accept=".json" on />
                        <button class = "btn-main"  onclick="LoadJSON()"> Cargar </button>
                        <a href="static/Files/Topology.json" download="Topology.json">Descargar Topology Arbol Guardado</a>
                        </div>
                </form>
            </div>

            <div class="tree-viewer">
                <div id="treeContainer">
                    {{ grafico|safe }}
                </div>
            </div>
        </div>
        <br>
        <div class = "container"> 
            <input type="text"> </input>
        </div>
    <script src="{{ url_for('static', filename='app.js') }}"></script>
</body>
</html>